*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.count-container{
   background-color: #13007b78;
   width: 200px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 10px;
   padding: 10px;
   margin: 20px;

   
}

.btn{
 cursor: pointer;
 background-color: #fff;
 padding: 8px 12px;
 margin: 10px;
 border: none;
 border-radius: 10px;
 
}
.btn:hover{
 color: #fff;
 background-color: #ccc
}